.Rhistory
*.o
/src/gmap/Makefile
/src/gmap/config.log
/src/gmap/config.status
/src/gmap/libtool
/src/gmap/src/.deps/atoiindex-access.Po
/src/gmap/src/.deps/atoiindex-assert.Po
.deps
/src/gmap/src/Makefile
/src/gmap/src/atoiindex
/src/gmap/src/cmetindex
/src/gmap/src/config.h
/src/gmap/src/get-genome
/src/gmap/src/gmap
/src/gmap/src/gmapindex
/src/gmap/src/gmapl
/src/gmap/src/gsnap
/src/gmap/src/gsnapl
/src/gmap/src/iit_dump
/src/gmap/src/iit_get
/src/gmap/src/iit_store
/src/gmap/src/snpindex
/src/gmap/src/stamp-h1
/src/gmap/src/uniqscan
/src/gmap/src/uniqscanl
/src/gmap/tests/Makefile
/src/gmap/tests/align.test
/src/gmap/tests/coords1.test
/src/gmap/tests/iit.test
/src/gmap/tests/setup1.test
/src/gmap/util/Makefile
/src/gmap/util/dbsnp_iit
/src/gmap/util/dbsnp_iit.pl
/src/gmap/util/fa_coords
/src/gmap/util/fa_coords.pl
/src/gmap/util/gff3_genes
/src/gmap/util/gff3_genes.pl
/src/gstruct/src/libgstruct_1.0_la-littleendian.lo
src/gmap/util/gff3_introns
src/gmap/util/gff3_introns.pl
src/gmap/util/gff3_splicesites
src/gmap/util/gff3_splicesites.pl
src/gmap/util/gmap_build
src/gmap/util/gmap_build.pl
src/gmap/util/gmap_compress
src/gmap/util/gmap_compress.pl
src/gmap/util/gmap_process
src/gmap/util/gmap_process.pl
src/gmap/util/gmap_reassemble
src/gmap/util/gmap_reassemble.pl
src/gmap/util/gmap_setup
src/gmap/util/gmap_setup.pl
src/gmap/util/gmap_uncompress
src/gmap/util/gmap_uncompress.pl
src/gmap/util/gtf_genes
src/gmap/util/gtf_genes.pl
src/gmap/util/gtf_introns
src/gmap/util/gtf_introns.pl
src/gmap/util/gtf_splicesites
src/gmap/util/gtf_splicesites.pl
src/gmap/util/gvf_iit
src/gmap/util/gvf_iit.pl
src/gmap/util/md_coords
src/gmap/util/md_coords.pl
src/gmap/util/psl_genes
src/gmap/util/psl_genes.pl
src/gmap/util/psl_introns
src/gmap/util/psl_introns.pl
src/gmap/util/psl_splicesites
src/gmap/util/psl_splicesites.pl
src/gmap/util/vcf_iit
src/gmap/util/vcf_iit.pl
src/gmapR.so
src/gstruct/Makefile
src/gstruct/config.log
src/gstruct/config.status
src/gstruct/lib/gstruct-1.0.pc
src/gstruct/libtool
src/gstruct/src/.libs/
src/gstruct/src/Makefile
src/gstruct/src/config.h
src/gstruct/src/libgstruct-1.0.la
src/gstruct/src/libgstruct_1.0_la-access.lo
src/gstruct/src/libgstruct_1.0_la-assert.lo
src/gstruct/src/libgstruct_1.0_la-bamread.lo
src/gstruct/src/libgstruct_1.0_la-bamtally.lo
src/gstruct/src/libgstruct_1.0_la-bigendian.lo
src/gstruct/src/libgstruct_1.0_la-chrnum.lo
src/gstruct/src/libgstruct_1.0_la-chrom.lo
src/gstruct/src/libgstruct_1.0_la-datadir.lo
src/gstruct/src/libgstruct_1.0_la-except.lo
src/gstruct/src/libgstruct_1.0_la-genome.lo
src/gstruct/src/libgstruct_1.0_la-genomicpos.lo
src/gstruct/src/libgstruct_1.0_la-iit-read.lo
src/gstruct/src/libgstruct_1.0_la-iit-write.lo
src/gstruct/src/libgstruct_1.0_la-interval.lo
src/gstruct/src/libgstruct_1.0_la-intlist.lo
src/gstruct/src/libgstruct_1.0_la-list.lo
src/gstruct/src/libgstruct_1.0_la-matchpool.lo
src/gstruct/src/libgstruct_1.0_la-md5.lo
src/gstruct/src/libgstruct_1.0_la-mem.lo
src/gstruct/src/libgstruct_1.0_la-mismatchpool.lo
src/gstruct/src/libgstruct_1.0_la-parserange.lo
src/gstruct/src/libgstruct_1.0_la-samread.lo
src/gstruct/src/libgstruct_1.0_la-sequence.lo
src/gstruct/src/libgstruct_1.0_la-stopwatch.lo
src/gstruct/src/libgstruct_1.0_la-table.lo
src/gstruct/src/libgstruct_1.0_la-tableuint.lo
src/gstruct/src/libgstruct_1.0_la-tally.lo
src/gstruct/src/libgstruct_1.0_la-translation.lo
src/gstruct/src/libgstruct_1.0_la-ucharlist.lo
src/gstruct/src/libgstruct_1.0_la-uintlist.lo
src/gstruct/src/libgstruct_1.0_la-uinttable.lo
src/gstruct/src/stamp-h1
inst/user
inst/usr
/src/samtools/libbam.a
