*.o
/src/gmap/src/atoiindex
/src/gmap/src/cmetindex
/src/gmap/src/config.h
src/gmap/src/get-genome
src/gmap/src/gmap
src/gmap/src/gmapindex
src/gmap/src/gmapl
src/gmap/src/gsnap
src/gmap/src/gsnapl
src/gmap/src/iit_dump
src/gmap/src/iit_get
src/gmap/src/iit_store
src/gmap/src/snpindex
src/gmap/src/stamp-h1
src/gmap/src/uniqscan
src/gmap/src/uniqscanl
src/gmap/tests/Makefile
src/gmap/tests/align.test
src/gmap/tests/coords1.test
src/gmap/tests/iit.test
src/gmap/tests/setup1.test
src/gmap/util/Makefile
src/gmap/util/dbsnp_iit
src/gmap/util/dbsnp_iit.pl
src/gmap/util/fa_coords
src/gmap/util/fa_coords.pl
src/gmap/util/gff3_genes
src/gmap/util/gff3_genes.pl
src/gmap/util/gff3_introns
src/gmap/util/gff3_introns.pl
src/gmap/util/gff3_splicesites
src/gmap/util/gff3_splicesites.pl
src/gmap/util/gmap_build
src/gmap/util/gmap_build.pl
src/gmap/util/gmap_compress
src/gmap/util/gmap_compress.pl
src/gmap/util/gmap_process
src/gmap/util/gmap_process.pl
src/gmap/util/gmap_reassemble
src/gmap/util/gmap_reassemble.pl
src/gmap/util/gmap_setup
src/gmap/util/gmap_setup.pl
src/gmap/util/gmap_uncompress
src/gmap/util/gmap_uncompress.pl
src/gmap/util/gtf_genes
src/gmap/util/gtf_genes.pl
src/gmap/util/gtf_introns
src/gmap/util/gtf_introns.pl
src/gmap/util/gtf_splicesites
src/gmap/util/gtf_splicesites.pl
src/gmap/util/gvf_iit
src/gmap/util/gvf_iit.pl
src/gmap/util/md_coords
src/gmap/util/md_coords.pl
src/gmap/util/psl_genes
src/gmap/util/psl_genes.pl
src/gmap/util/psl_introns
src/gmap/util/psl_introns.pl
src/gmap/util/psl_splicesites
src/gmap/util/psl_splicesites.pl
src/gmap/util/vcf_iit
.Rhistory
src/gmap/Makefile
src/gmap/config.log
src/gmap/config.status
src/gmap/libtool
src/gmap/src/.deps/
src/gmap/src/Makefile
src/gmap/util/vcf_iit.pl
*.so
src/gstruct/Makefile
src/gstruct/config.log
src/gstruct/config.status
src/gstruct/lib/gstruct-1.0.pc
src/gstruct/libtool
src/gstruct/src/.deps/
src/gstruct/src/.libs/
src/gstruct/src/Makefile
src/gstruct/src/config.h
*.la
*.lo
src/gstruct/src/stamp-h1
src/samtools/