export(buildGmapDbSNPIndex)
export(buildGmapIndex)
export(buildGmapIITFromFasta)
export(buildGsnapSNPIIT)
export(consolidateGmapFiles)
export(consolidateGsnapFiles)
export(exonsToGmapSpliceSites)
export(getGsnapFileCounts)
export(installGmap)
export(parallelized_gsnap)
